<div class="form-inline mt-3">
  <div class="form-group">
    <label for="email">Area:</label>
    <select [(ngModel)]="selectedArea.id" (change)="onSelect($event.target.value)">
      <option *ngFor="let area of areas" value="{{ area.id }}">
        {{ area.name }}
      </option>
    </select>
  </div>

  <div class="form-group m-3">
    <label for="email">Servicio:</label>
    <select>
      <option *ngFor="let sb of serviceBudgets" value="{{ sb.id }}">
        {{ sb.name }}
      </option>
    </select>
  </div>
  <button
    class="btn btn-rounded btn-primary"
    type="button"
  >
    Agregar servicio
  </button>
</div>